body:not(section:first-child) {
    background-color: #11001C;
}

html{
    scroll-behavior: smooth;
}
#nav {
    background: #1A0129;
}
.bar {
    background-color: #11001C;
    color: white;
}

a.nav-link-active {
    color: white;
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav {
    margin: 10px;
    padding: 20px;
    color: white;
    gap: 10px;
}
#text{
    margin-top: 0px;
}
.blur {
    color: yellow;
}
.Line1 {
    width: 100%;
    height: 0px;
    border: 1px #FFF500 solid;
    filter: blur(4px); 
}
.Line2 {
    width: 640px;
    height: 0px;
    transform: rotate(43.22deg);
    transform-origin: 0 0;
    border: 1px #FFF500 solid;
    filter: blur(4px);
    position: absolute;
    right: -11.2%;
}
.Line3 {
    width: 712.53px;
    height: 0px;
    transform: rotate(-32.04deg);
    transform-origin: 0 0;
    border: 1px #FFF500 solid;
    filter: blur(4px);
    position: absolute;
    top: 100%;
    right: -7.2%;
}
.name {
    width: 333px;
    height: 55px;
    color: rgba(255, 244.80, 0, 0.56);
    font-size: 42px;
    font-family: Habibi;
    font-weight: 650px;
    word-wrap: break-word;
    position: absolute;
    bottom: 50%;
    right: 30%;
}
.name2 {
    width: 565px; 
    height: 55px; 
    color: rgba(255, 244.80, 0, 0.56); 
    font-size: 36px; font-family: Habibi; 
    font-weight: 400; 
    word-wrap: break-word;
    position: absolute;
    top: 50%;
    right: 35%; 
}
.CK, .developer {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(40, end) forwards, blink-caret .80s step-end infinite;
}
@keyframes typing {
    from{width: 0;}
    to{width: 100%;}
}
@keyframes blink-caret {
    0%, 100% {border-color: transparent;}
    50% {border-color: #11001C;}
}
.bottom {
    background: #1A0129;
    margin-top: 655px;
    width: 100%;
    height: 40px;
    bottom: 100%;
}
.AH, .PH, .RH, .TH, .CH {
    color: white;
    font: 40px Habibi;
    position: absolute;
    left: 5%;
    width: 171px;
    height: 44px;
    font-weight: 400;
    margin-top: 50px;
}
.Line4 {
    width: 648.31px; 
    height: 0px; 
    transform: rotate(104.38deg); 
    transform-origin: 0 0; 
    box-shadow: 4px 4px 4px; 
    border: 1px #FFF500 solid; 
    filter: blur(4px);
    position: absolute;
    top: 110%;
    right: 35%;
}
.Line5 {
    width: 637.19px; 
    height: 0px; 
    left: 5%;
    transform: rotate(44.05deg); 
    transform-origin: 0 0; 
    box-shadow: 4px 4px 4px; 
    border: 1px #FFF500 solid; 
    filter: blur(4px);
    position:;
    top: 50%;
    right: 35%;
}
.bottom1, .bottom3, .bottom4, .bottom5 {
    background: #1A0129;
    margin-top: 650px;
    width: 100%;
    height: 40px;
    bottom: 100%;
}
.Colunm1 {
    width: 340px;
    height: 430px;
    background: rgba(255, 244.80, 0, 0.26);
    border-radius: 30px;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
}
.Column2 {
    width: 436px;
    height: 417px;
    background: rgba(255, 244.80, 0, 0.22);
    border-radius: 30px;
    border-radius: 30px;
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
}